################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/nLogischeVerknüpfung/.vs/nLogischeVerknüpfung/v16
/nAmpelSteuerung/.vs/nAmpelSteuerung/v16
